<!DOCTYPE html>
<html>

{{template "head.html" .}}

{{$postsPerPage := (.Conf.Get "number-of-recent-posts").Int}}

<body>
    {{template "header.html" .}}

    <article>
        <h1>Last {{$postsPerPage}} posts</h1>
        <ul>
        {{range .PostsTo $postsPerPage}}
            <li class="post">
                <a href="{{.Name}}.html">{{.Title}}</a>
                {{.GetHTMLPreview 200}}
            </li>
        {{end}}
        </ul>
    </article>
    
    {{template "footer.html" .}}
</body>

</html>